html{ font-size: 32px;}

.content { font-size: 16px; width: 12rem; background-color: #bababa;
margin: 10px 5px 6px 0px;}

.subtitle{ 
    position: absolute; 
    top: 5px;
    color: red;
}

.relativo {

    position: relative;
    top: 50px;
}

.content2 {
    height: 200px;
}

#title {
    position: fixed;
    top: 1px;
    
}